In [20]:
import pandas as pd

df = pd.read_csv("E:\\Pandas_Basics\\1_Intro\\nyc_weather.csv")
# df

In [16]:
#max temperature in csv file
df['Temperature'].max()

50

In [17]:
#List of days when it rained
df[df['Events'] == 'Rain']

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311

In [21]:
#Average speed of wind in month of january
df.fillna(0,inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903